@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, Helvetica, sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  color: #fff;
  background-image: linear-gradient(270deg, #1955c3, #5c8be7);
}
.search_button {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}
.search_img {
  width: 40px;
  height: 40px;
  border-radius: 80%;
}
.search_img:hover {
  filter: brightness(110%);
  transition: 0.3s;
}
.container {
  padding: 50px;
  width: 100%;
  height: 100%;
}
.location_icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}

.weather_title {
  margin: 0px 0 30px 0;
}
.weather_forecast {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.cloudy {
  width: 120px;
  height: 120px;
}
article {
  padding: 20px;
  border-radius: 15px;
  min-width: 250px;

  background-image: linear-gradient(180deg, #4788fe, #86afff);
  justify-content: space-between;
}
.search_button {
  background-color: inherit;
  border: none;
}
#desc1,
#desc2,
#desc3,
#desc4,
#desc5 {
  font-size: 1.2em;
  margin-top: 5px;
}
.weather_humidity{
margin: 5px 0;
}
#humidity1,#humidity2,#humidity3,#humidity4,#humidity5{
font-size: 1.2em;
}

.search_city {
  border-radius: 23px;
  padding: 15px;
  height: 40px;
  font-size: medium;
  width: 40%;
  outline: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.226);
  border: none;
  margin: 0 0 60px 0;
}
.search_city:hover {
  background-color: rgba(0, 0, 0, 0.438);
  transition: 0.4s ease;
}
.search_city:focus {
  background-color: rgba(0, 0, 0, 0.438);
}
.search_city::placeholder {
  color: #fff;
}
.weather_tempurature {
  font-size: 40px;
}
.your_location::before {
  content: "";
  background-image: url(location.png);
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-right: 10px;
  display: inline-block;
}
#humidity1::before,#humidity2::before,#humidity3::before,#humidity4::before,#humidity5::before{
  content: "";
  display: inline-block;
  background-image: url(humidity.png);
  vertical-align: middle;
  width: 28px;
  height: 28px;
  background-size: cover;
  margin-right: 10px;
  display: inline-block;
}

.weather_tempurature::before {
  content: "";
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-size: cover;
  margin-right: 0px;
  display: inline-block;
  background-image: url(thermometer.png);
}

@media screen and (max-width: 600px) {
  .search_city {
    width: 80%;
  }
  .weather_forecast {
    flex-direction: column;
  }
  article {
    min-width: 200px;
    margin: 20px 0;
  }
}
